/*#circle {
    background: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

#circle2 {
    background: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}*/