#circle {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#circle2 {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#circle3 {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}